.gitignore
.DS_Store
*.csv
*.h5
*.pkl
*.npy
checkpoints/
.ipynb_checkpoints/
data/

src/model_training/.ipynb_checkpoints
src/model_training/.DS_store
src/utils/.DS_store
src/utils/.ipynb_checkpoints
src/utils/__pycache__
src/backend_server/.ipynb_checkpoints

